#banner {
    margin-top: 50px;  /*Bajamos la imagen 50 px para que no la cubra la barra de navegador */
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner .contenedor {
    position: absolute;  /*Posicionaremos a el contenedor con respecto a banner que es su contenedor padre */
    top: 50%;  /*Para poner a la mitad de la caja padre(banner) el contenedor que tiene texto con h2 y p*/
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  /*Siempre tendremos posicionado este contenedor al centro del banner */
    color: #fff;
}

#banner h2 {
    font-size: 28px;
}

/*Dibujaremos un boton para la etiqueta "a"(Leer más) */
#banner a {
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#banner a:hover {
    background: rgba(51, 51, 51, 0.5);
}


/* ------------------>  Haciendo "RESPONSIVE" el sitio web  <----------------- */

@media (min-width:480px) {
    #banner h2 {
        font-size: 40px;  /*A partir de 480px de ancho el tamaño de nuestro h2 tambien aumentara a 40px */
    }

    #banner a {  /*Le damos un margen al boton para que no se encime con el texto h2 que modificamos */
        margin-top: 25px;
        margin-left: 10px;
    }
}


/*Trabajaremos con 768px que es un tamaño para tablets generalmente. en la configuración de la vision del banner*/
@media (min-width:768px) {
    #banner {
        height: 300px;  /*Cuando el ancho de pantalla pase 768px, la visión del banner se reducira a 300px de alto */
        overflow: hidden;
    }

    /*La imágen, al darle 300px de alto al banner reduce su calidad y se ve distorcionada, por lo que le daremos un altura tipo "auto" */
    #banner img {
        height: auto;  /*La imagen se va a adaptar y rebasara los limites del banner, por eso usaremos overflow:hidden en el "banner" */
        margin-top: -20px;  /*Como la visión del banner se reduce, debemos ajustar la imagen para que tengamos su mejor versión */
    }
}


/*Trabajaremos con 1024px en la configuración de la vision del banner*/
@media (min-width:1024px) {
    #banner img {
        margin-top: -50px;  /*Como la visión del banner se reduce, debemos ajustar la imagen para que tengamos su mejor versión */
    }
}